.bg-green{
	background-color: #26BBAD;
}
.text-green{
	color: #26BBAD;

}


.small-text{
	color: #000;
	font-size: 80%;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.slider{
	height: 300px;
	background-image: url("../images/slider.jpg");
	background-size: 100% 100%;
}
.card-footer{
	font-size: 13px;
	font-weight: bold;
}
.jumbotron{
	background-color: #333333;
	color: #FFF;
}
.card{
	z-index: -10;
}
.overlay{
	
	z-index:99;
	background: rgba(0, 0, 0, 0);
	border-radius: 3px;
	transition: .5s;
}
.overlay:hover{

	background: rgba(0, 0, 0, .6);
	box-shadow: 0px 0px 10px #000;
}

.overlay:hover .more{
	display: block;
}

.more{
	display: none;
	width: 90%;
	position: absolute;

	top: 100px;
	/*left: 80px;*/

}
.product{
	position: relative;
  /*background: #FFFFFF;*/
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}





.thumbnail-single-overlay {
    position: absolute;
    border-radius: 3px;
    top: 0;
    /*left: 0;*/
    width: 88%;
    height: 95%;
    z-index: 1;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity 400ms;
}



.thumbnail-single-overlay span {
  background: #fff;
  position: absolute;
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 36px;
  text-align: center;
  color: #333;
  left: 50%;
  top: 50%;
  margin-top: -32px;
  margin-left: -32px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: background-color 400ms;
}
.thumbnail-single-overlay span:hover {
  background: #ddd;
}
.thumbnail-single:hover .thumbnail-single-overlay {
  opacity: 1;
}



