.bg-green{
	background-color: #26BBAD;
}
.text-green{
	color: #26BBAD;

}


.small-text{
	color: #FFF;
	font-size: 80%;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.slider{
	height: 300px;
	background-image: url("../images/slider.jpg");
	background-size: 100% 100%;
}
.card-footer{
	font-size: 13px;
	font-weight: bold;
}
.jumbotron{
	background-color: #333333;
	color: #FFF;
}